{% extends 'base.html.twig' %}

{% block title %}Erreur 404 : Page Introuvable{% endblock %}


{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 text-center">

                <img src="{{ asset('images/404.jpg') }}" alt="Erreur 404, page introuvable" class="img-fluid my-3">

            </div>

        </div>

    </div>

{% endblock %}
